atomicwrites==1.4.0
attrs==21.4.0
certifi==2022.6.15
colorama==0.4.5
contextlib2==21.6.0
cv==1.0.0
cycler==0.11.0
execnet==1.9.0
fonttools==4.34.1
iniconfig==1.1.1
kiwisolver==1.4.3
lxml==4.9.1
matplotlib==3.5.2
mock==4.0.3
numpy==1.23.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
path==16.4.0
path.py==12.5.0
Pillow==9.2.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
gdown==4.5.1
imutils==0.5.4
nbformat==5.4.0
pandas==1.4.3
protobuf==3.20.*
pytesseract==0.3.9
scipy==1.8.1
six==1.16.0
termcolor==1.1.0
tomli==2.0.1
argparse~=1.4.0
streamlit-aggrid~=0.2.3.post2
streamlit==1.10.0
